<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dash Board</title>
    <link rel="stylesheet" href="css/dash.css">
</head>
<body>
    <div>
        <h1>DashBoard</h1>
    <h3><b>{% if user.is_authenticated %}
        Hello, {{user.first_name}} </b></h3>
        <ul>
            <li>
        <a href="myorder">My Orders</a>
        {%if user.last_name == 'hospital'%}
            <a href="order">Place Order</a>
        {%else%}
            <a href="avail_orders">Available Orders</a>
        {%endif%}
        <a href="logout">Logout</a><br>
        </li>
        </ul>
        {% for t in h%}
           <p><b> Name </b> : {{t.name}}<br>
            <b>Address </b> : {{t.address}}<br>
            <b>State </b>: {{t.state}} <br>
            <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
        <lottie-player src="https://assets2.lottiefiles.com/packages/lf20_2rzKDg.json"  background="transparent"  speed="0.5"  style="width: 200px; height: 300px; float:left;margin-left: 1%;"  loop  autoplay></lottie-player>
            <b>Pincode </b> : {{t.pincode}}
            {%if user.last_name != 'transporter'%}<br>
                <b>Storage </b> : {{t.storage}} Kg<br>
                <b>Rate </b> : {{t.rate}} Kg/Hour<br>
                <b>Currently Available </b> : {{t.available}} Kg<br>
            {%else%}
                <b>Total Tankers </b> : {{t.total_tanker}}<br>
                <b>Available Tankers </b> : {{t.avail_tanker}}<br>
                <b>Capacity </b> : {{t.capacity}} Kg/tanker<br>
            {%endif%}
        {%endfor%}
        </p>
        <center><a href="edit"><input type="button" value="Edit"></a>
    {% else %}
        <a href="login"><input type="button" value="Click here to Login"></a>
    {% endif %}
    </center>
    </div>
</body>
</html>