<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/login.css">
    <title>Login</title>
</head>
<body>
        
    <form action="login" method="POST">
        {%csrf_token%}
        <img src="https://image.freepik.com/free-vector/access-control-system-abstract-concept-illustration-security-system-authorize-entry-login-credentials-electronic-access-password-pass-phrase-pin-verification_335657-3373.jpg">
        <h1>Login</h1>
        <p><b>Role:</b></p>
        <Select name="role" required>
            <option value="hospital">Hospital</option>
            <option value="producer">Producer</option>
            <option value="transporter">Transporter</option>
        </Select><br>
        <p><b>Username:</b></p>
        <input type="text" name="username" placeholder="Username" required><br>
        <p><b>Password:</b></p>
        <input type="password" name="pass" placeholder="Password" required><br><br><br>
        <input type="submit" value="Login" class="btn"><br><br>
        <div class="div">
            {% for message in messages %}
            {{message}}
            {% endfor %}
        </div>
    </form>
</body>
</html>